.breedcumbs{
    width:100%;
    min-height: 500px;
    background:linear-gradient(to right,rgba(1, 31, 75, 0.411),rgba(0, 25, 75, 0.616)),url("../../assets/img/pexels-earano-1298684.jpg");
 background-position: center;
 background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}
.breadcrumb-heading {

    font-weight: 500;

  color: rgb(0, 255, 251);
 
}
.breadcrumb-items{
  
    font-weight: 500;
    text-decoration: none;
  
}
.bold{

    font-weight: 500;
   
}

.section_1{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(to right,rgba(255, 255, 255, 0.507),rgba(170, 249, 249, 0.377));
    background-position: center;
    background-size: cover;
    
    

}

.section_2{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(to top,rgba(255, 255, 255, 0.557),rgba(255, 255, 255, 0.445));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    

}

.card_mineral{
    background: transparent;

}
.card-heading{
    color:rgb(2, 16, 96);
}

.section_3{
    width:100%;
    min-height: 550px;
    background: linear-gradient(to top,rgba(198, 250, 255, 0.507),rgba(168, 248, 255, 0.374));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    

}
.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(0, 69, 181);
    font-size: 35px;
    display: flex;
    justify-content:center;
    align-items: center;
    color:rgb(255, 255, 255);
}


