<app-header></app-header>
<div class="container-fluid breedcumbs  ">

    <div class="row justify-content-center text-center">

        <div >
            <h1 class="breadcrumb-heading  text-italic display-1">About Us</h1>

            <nav class="text-center">
                <a class=" breadcrumb-items h3 text-light mx-2" href="#">Home   </a>  <span  class="breadcrumb-items h3 text-light mx-2">></span> <a class="breadcrumb-items active h3 text-dark mx-2" aria-current="page">About</a>

              
            </nav>

        </div>

    </div>
</div>
<section class="container-fluid  section_1 py-2">



    <div class="row   justify-content-center h-100 align-items-center ">

        <div class="col-lg-5  col-12">

            <div class="row   justify-content-center h-100 align ">
            <div class="image-wrapper  mt-3">
                <img src="../../assets/img/living.png" class="img-fluid rounded-top overflow-hidden" alt="no image" />

            </div>
        </div>

        </div>

        <div class=" col-lg-7  col-12 ">

            <div class="  mt-4  text-center text-md-start  ms-0 ms-xl-5 ">
                <p class="h1 bold text-info">About Us</p>

                <p class="display-1 bold card-heading">Supplying reliable, pure water daily.
                </p>
                <p class=" fs-4 text-muted ">
                    A water company supplies clean, safe drinking water by sourcing, treating, and distributing it to
                    communities. It ensures water quality and reliability, while also managing wastewater treatment,
                    supporting environmental protection, and promoting sustainable water resources for public health.

                </p>
                <div class="row ">
                    <div class="col-md-6 col-12">
                        <div class="card text-start  mt-3">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="row   justify-content-center h-100 align-items-center ">

                                            <fa-icon class="text-primary text-center" style="font-size: 50px;"
                                                [icon]="drop"></fa-icon>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-12">


                                        <h4 class="card-title h2">Grateful Client</h4>
                                        
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Totam,
                                            autem!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card text-start  mt-3">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="row justify-content-center h-100 align-items-center ">

                                            <fa-icon class="text-primary text-center" style="font-size: 50px;"
                                                [icon]="drop"></fa-icon>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-12">


                                        <h4 class="card-title h2">Generic Product</h4>
                                      
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Totam,
                                            autem!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


        </div>


    </div>


</section>

<section class="container-fluid  section_2">
    <div class="container">
        <div class=" row  ">
            <p class="text-muted h3 mt-2 mb-4  text-center    ">
                Inside Us <br>
                <span class="card-heading display-1 bold ">Mineral composition</span>
            </p>

        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card card_mineral text-md-start text-center border-0 mt-3">

                            <div class="card-body">
                                <h4 class="card-title text-primary h1">Calcium</h4>
                                <h5 class=" text-dark">240 mg/l</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                                    autem!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card card_mineral text-md-start  text-center border-0 mt-3">

                            <div class="card-body">
                                <h4 class="card-title text-primary h1">Magnesium</h4>
                                <h5 class=" text-dark">42 mg/l</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                                    autem!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card card_mineral text-md-start  text-center  border-0 mt-3">

                            <div class="card-body">
                                <h4 class="card-title text-primary h1">Sodium</h4>
                                <h5 class=" text-dark">5.2 mg/l</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                                    autem!</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4 ">
                <div class="row h-100 align-items-center"><img src="../../assets/img/R4.png"
                        class="img-fluid rounded-top" alt="" /></div>


            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card card_mineral text-start border-0">

                            <div class="card-body   text-md-end  text-center ">
                                <h4 class="card-title text-primary h1">Bicarbonate</h4>
                                <h5 class=" text-dark">384 mg/l</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                                    autem!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card card_mineral text-start border-0 mt-3">

                            <div class="card-body   text-md-end  text-center ">
                                <h3 class="card-title text-primary h1">Nitrate</h3>
                                <h5 class=" text-dark">4.4 mg/l</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                                    autem!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card card_mineral border-0 mt-3">

                            <div class="card-body text-md-end  text-center ">
                                <h4 class="card-title text-primary h1">Sulfate</h4>
                                <h5 class=" text-dark">400 mg/l</h5>
                                <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam,
                                    autem!</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="container-fluid  section_3">
    <div class="container  ">
        <div class=" row text-center   mb-1  ">
            <p class="mt-4">

                <span class="card-heading display-3 bold ">Trusted Authority in Bottled Water Solutions.</span>
            </p>

        </div>

        <div class="row  ">
            <div class="col-lg-3 col-md-6 col-12 mt-4">
                <div class="card card_2 shadow">

                    <div class="card-body text-center mb-3">
                        <div class="row justify-content-center mx-1 ">

                            <fa-icon class=" text-center icon " [icon]="certificate"></fa-icon>
                        </div>
                        <h4 class="card-title text-primary mt-2 mb-2 h2">Maximum Purity</h4>
                        <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde nobis debitis asperiores dicta odit?</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mt-4">
                <div class="card text-dark card_2 shadow ">

                    <div class="card-body text-center mb-3">
                        <div class="row justify-content-center mx-1 ">

                            <fa-icon class=" text-center icon " [icon]="flask"></fa-icon>
                        </div>
                        <h4 class="card-title h2 text-primary mt-2 mb-2">Cholorine Free</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde nobis debitis asperiores dicta odit?</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mt-4">
                <div class="card text-dark card_2 shadow">

                    <div class="card-body text-center mb-3">
                        <div class="row justify-content-center mx-1 ">

                            <fa-icon class=" text-center icon " [icon]="filter"></fa-icon>
                        </div>
                        <h4 class="card-title mt-2 text-primary mb-2 h2">5 Step Filtration</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde nobis debitis asperiores dicta odit?
                    </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mt-4 mb-2">
                <div class="card text-dark card_2 shadow">

                    <div class="card-body text-center mb-3">
                        <div class="row justify-content-center mx-1 ">

                            <fa-icon class=" text-center icon " [icon]="micro"></fa-icon>
                        </div>
                        <h4 class="card-title mt-2 mb-2 text-primary h2">Healthy Water </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde nobis debitis asperiores dicta odit?</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>