<app-header></app-header>

<div class="container-fluid breedcumbs  ">

    <div class="row justify-content-center text-center">

        <div>
            <h1 class="breadcrumb-heading  display-1 "> Our Service</h1>

            <nav class="text-center">
                <a class=" breadcrumb-items h3 text-light mx-2" href="#">Home </a> <span
                    class="breadcrumb-items h3 text-light mx-2">></span> <a class="breadcrumb-items active h3 text-dark mx-2"
                    aria-current="page">Service</a>


            </nav>

        </div>

    </div>
</div>



<section class="container-fluid  section_1 ">
    <div class="row text-center   mb-3  ">
        <p class="mt-3">

            <span class="card-heading display-3 bold mt-2">Protect Your Family <br> with Best Water</span>
        </p>

    </div>
    <div class="container">


        <div class="row ">

            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background" style="background-image: url('../../assets/img/32.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title mt-2">Home Water Delivery</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background" style="background-image: url('../../assets/img/33.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Office Water Delivery</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background" style="background-image: url('../../assets/img/35.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Event Water Delivery</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background" style="background-image: url('../../assets/img/34.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Bulk Water Delivery</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background" style="background-image: url('../../assets/img/37.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Water Quality Check</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background"
                        style="background-image: url('../../assets/img/water-purifier-1000x1000.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Water Filter and Purifier</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white ">
                    <div class="card-background" style="background-image: url('../../assets/img/5.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Fecal Coliform Test</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-4 ">
                <div class="card shadow text-white">
                    <div class="card-background " style="background-image: url('../../assets/img/123.jpg');">
                        <div class="card-overlay">
                            <div class="card-body">
                                <h5 class="card-title">Radiological Tests</h5>
                                <p class="card-text text-muted">This is some overlay text on the image.</p>
                                <div class="row mx-3 ">
                                    <a name="" id="" class="btn btn-outline-dark rounded-pill" href="#"
                                        role="button">ReadMore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            



        </div>

    </div>
</section>

<section class="container-fluid  section_2  ">
    <div class="row p-0">
        <div class="text-center  mt-4 mb-4  ">
            <p>

                <span class="card-heading display-3 bold ">Why We’re the <br> Best Choice</span>
            </p>

        </div>

        <div class="clientSection ">
            <div class=" row   justify-content-center h-100 align-items-center ">


                <div class="container">
                    <div class="row  ">
                        <div class="col-lg-3 col-md-6 col-12 mt-4">
                            <div class="card  card_2 ">

                                <div class="card-body text-center mb-3">
                                    <div class="row justify-content-center   ">

                                        <p class="   clienticon"> <fa-icon [icon]="truck"></fa-icon></p>
                                        <div class="card-title text-light">
                                            <h1 class=" display-3  bold">{{this.waterDelivered}}K</h1>
                                            <h4 class=" h3">Water Delivered</h4>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mt-4">
                            <div class="card text-dark card_2 ">

                                <div class="card-body text-center mb-3">
                                    <div class="row justify-content-center   ">
                                        <p class="   clienticon"> <fa-icon [icon]="thumbs"></fa-icon></p>
                                        <div class="card-title text-light">
                                            <h1 class=" display-3 bold">{{this.client}}+</h1>
                                            <h4 class=" h3">Happy Customers</h4>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mt-4">
                            <div class="card text-dark card_2">

                                <div class="card-body text-center  mb-3">
                                    <div class="row justify-content-center   ">
                                        <p class="   clienticon"> <fa-icon [icon]="users"></fa-icon></p>
                                        <div class="card-title text-light">
                                            <h1 class=" display-3 bold">{{this.Employee}}+</h1>
                                            <h4 class=" h3">Our Employees</h4>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mt-4 mb-2">
                            <div class="card text-dark card_2">

                                <div class="card-body text-center mb-3">

                                    <div class="row justify-content-center   ">
                                        <p class="   clienticon"> <fa-icon [icon]="award"></fa-icon></p>
                                        <div class="card-title text-light">
                                            <h1 class=" display-3 bold">{{this.year}}+</h1>
                                            <h4 class=" h3">Year Experience</h4>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</section>

<section class="container-fluid section_3">
    <div class="row text-center ">
        <p class=" mt-4 mb-4 ">

            <span class="card-heading display-3 bold ">What People<br> Are Saying About Us </span>
        </p>

    </div>
    <div class="container">
        <hr>

        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-8 col-12">
                <div id="carouselId" class="carousel mt-3 " data-bs-ride="carousel">
                    <div class="carousel-indicators ">
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselId" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                           
                    </div>
                    <div class=" d-none  d-md-inline-block  ">
                        <button
                        class="carousel-control-prev "
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselId"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
        
                    <div class="carousel-inner " role="listbox">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="card reviewCard rounded-4 ">

                                    <div class="card-body">
                                        <div class="row justify-content-center ">

                                            <div class="row justify-content-center h-100 align-items-center">
                                                <div class="reviewIcon">
                                                    <img src="../../assets/img/client-image.jpg"
                                                        class="" alt="" />

                                                </div>

                                            </div>


                                            <div class="row  text-center">
                                                <h2 class="bold">Lokeshini</h2>
                                                <h4 class="text-muted">Graphic Designer</h4>

                                            </div>
                                            <div class="row ">
                                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Ut, eligendi! Pariatur, ad accusantium. Sequi, vel
                                                    consectetur, dolorem iusto optio iure laudantium expedita, sint quia
                                                    aliquam blanditiis saepe praesentium sapiente rem!</p>
                                                <p class="  text-center text-md-end h4 text-info "> <fa-icon class=""
                                                        [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>

                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row">

                                <div class="card reviewCard rounded-4 ">

                                    <div class="card-body">
                                        <div class="row justify-content-center ">

                                            <div class="row justify-content-center h-100 align-items-center">
                                                <div class="reviewIcon">
                                                    <img src="../../assets/img/client1.jpg"
                                                        class="" alt="" />

                                                </div>

                                            </div>


                                            <div class="row  text-center">
                                                <h2>Navin</h2>
                                                <h4 class="text-muted">Backend Developer</h4>


                                            </div>
                                            <div class="row ">
                                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Ut, eligendi! Pariatur, ad accusantium. Sequi, vel
                                                    consectetur, dolorem iusto optio iure laudantium expedita, sint quia
                                                    aliquam blanditiis saepe praesentium sapiente rem!</p>
                                                <p class="  text-center text-md-end h4 text-info "> <fa-icon class=""
                                                        [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>
                                                    <fa-icon [icon]="star"></fa-icon>

                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">

                                <div class="card reviewCard rounded-4 ">

                                    <div class="card-body">
                                        <div class="row justify-content-center ">

                                            <div class="row justify-content-center h-100 align-items-center">
                                                <div class="reviewIcon">
                                                    <img src="../../assets/img/team-2.jpg"
                                                        class="" alt="" />

                                                </div>

                                            </div>


                                            <div class="row  text-center">
                                                <h2>Shivani</h2>
                                                <h4 class="text-muted">UI/UX</h4>

                                            </div>
                                            <div class="row ">
                                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Ut, eligendi! Pariatur, ad accusantium. Sequi, vel
                                                    consectetur, dolorem iusto optio iure laudantium expedita, sint quia
                                                    aliquam blanditiis saepe praesentium sapiente rem!</p>
                                                <p class="  text-center text-md-end h4  "> <fa-icon class=""
                                                        [icon]="star"class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star" class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star" class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star" class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star"class="text-dark"></fa-icon>

                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">

                                <div class="card reviewCard rounded-4 ">

                                    <div class="card-body">
                                        <div class="row justify-content-center ">

                                            <div class="row justify-content-center h-100 align-items-center">
                                                <div class="reviewIcon">
                                                    <img src="../../assets/img/team-3.jpg"
                                                        class="" alt="" />

                                                </div>

                                            </div>


                                            <div class="row  text-center">
                                                <h2>Rajesh</h2>
                                                <h4 class="text-muted">Fronted Developer</h4>

                                            </div>
                                            <div class="row ">
                                                <p class="text-center">Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Ut, eligendi! Pariatur, ad accusantium. Sequi, vel
                                                    consectetur, dolorem iusto optio iure laudantium expedita, sint quia
                                                    aliquam blanditiis saepe praesentium sapiente rem!</p>
                                                <p class="  text-center text-md-end h4 "> <fa-icon class=""
                                                        [icon]="star"class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star" class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star" class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star" class="text-info"></fa-icon>
                                                    <fa-icon [icon]="star"class="text-dark"></fa-icon>

                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <!-- Previous and Next Buttons -->




                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
